# Ignore dev folders
coverage

# Ignore config/dev tools
jest.config.js
nodemon.json

# Ignore local files
*.log

# Ignore dependencies not needed in the package
node_modules

# Ignore env or secret files
.env
.env.*

# Ignore editor settings
.vscode
.DS_Store
