# Ignore dev folders
coverage
__tests__
test
tests

# Ignore config/dev tools
jest.config.js
nodemon.json

# Ignore local files
*.log
*.test.js

# Ignore dependencies not needed in the package
node_modules

# Ignore env or secret files
.env
.env.*

# Ignore editor settings
.vscode
.DS_Store
